//Fonts
@font-face {
  font-family: "font1";
  src: url(../Assets/Fonts/Dongle-Light.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../Assets/Fonts/Dongle-Regular.ttf);
}

$lightFont: "font1", sans-serif;
$regFont: "font2", sans-serif;

//Colors
$light01: rgb(255, 255, 255);
$light02: rgb(238, 238, 238);
$light03: rgb(150, 150, 150);
$black: rgb(0, 0, 0);
$main01: rgb(32, 32, 64);
$main02: rgb(6, 13, 44);
$main03: rgb(84, 111, 228);
$main04: rgb(43, 48, 75);
$main05: rgb(19, 25, 55);

//Mixins
@mixin justify($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}

//General settigns
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
body {
  text-align: center;
  font-size: 1.1rem;
  min-height: 100vh;
  font-family: $regFont;
  background: $main01;
  color: $light02;
}
